<h1>BillsUpdates#index</h1>
<p>Find me in app/views/bills_updates/index.html.erb</p>

<%#add search bar to search by date and/or type.

Bills updates controller will return an array
of all updates scoped to search params

iterate over each update to display relevant information
about the update like type and date it was updated

use decorator class to help bring out logic from
this view for instance finding the bill for the associated
update%>
